default_install_hook_types:
    - pre-commit
    - pre-merge-commit
    - pre-push
    - prepare-commit-msg
    - commit-msg
    - post-checkout
    - post-commit
    - post-merge
    - post-rewrite

repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.77.0
  hooks:
    - id: terraform_fmt
      name: "Terraform FMT"
    - id: terraform_tflint
      name: "Terraform Lint"
    # TODO disabled temp as impossible to ignore the terraform_docs error of variable only in specific branchs
    - id: terraform_docs
      name: "Terraform Docs"
    - id: terragrunt_fmt
      name: "Terragrunt FMT"
    # //TODO to activate checkov and go one by one into items
    # - id: terraform_checkov
    #   name: "Terraform Checkov"
    #   args:
    #   - --args=--quiet
    #   - --args=--skip-check CKV_AWS_117

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0  # this is optional, use `pre-commit autoupdate` to get the latest rev!
    hooks:
    # Verify JSON syntax
    -   id: check-json
        name: "Check JSON"
        description: "Verify JSON syntax"
        args:
        - --allow-multiple-documents
    # Verify YAML syntax
    -   id: check-yaml
        name: "Check YAML"
        description: "Verify YAML syntax"
        args:
        - --allow-multiple-documents
    # Verify TOML syntax
    -   id: check-toml
        name: "Check TOML"
        description: "Verify TOML syntax"
    # Verify XML syntax
    -   id: check-xml
        name: "Check XML"
        description: "Verify XML syntax"
        args:
        - --allow-multiple-documents
    # Trims trailing whitespaces
    -   id: trailing-whitespace
        name: "Trailing Whitespaces"
        description: "Trims trailing whitespaces"
    # Protect Master from direct checkins
    -   id: no-commit-to-branch
        name: "No Commits to Master"
        description: "Protect Master from direct checkins"
        stages: [commit]
        args:
        - --branch=master
        - --branch=main
    # Check for files that contain merge conflict strings.
    -   id: check-merge-conflict
        name: "MergeRequests conflicts"
        description: "Check for files that contain merge conflict strings."
        args:
        - --assume-in-merge
    # Detest private key in the source code
    - id: detect-private-key

# -   repo: local
#     hooks:
#     - id: checkov
#       name: "Checkov - Gitlab-CI"
#       language: python
#       entry: checkov -d ./gitlab-ci/ --framework gitlab_ci --framework gitlab_configuration
#       pass_filenames: false
#       always_run: false
#       require_serial: true

# -   repo: local
#     hooks:
#     - id: checkov
#       name: "Checkov - Kubernetes"
#       language: python
#       entry: checkov -d ./config/manifest -d ./manifest --framework kubernetes --framework yaml
#       pass_filenames: false
#       always_run: false
#       require_serial: true

-   repo: local
    hooks:
    -   id: gitlab-script
        name: Update of Gitlab Group Path & Release packaging
        entry: ./.pre-commit-script.sh
        language: script
        stages: [commit, merge-commit, push, prepare-commit-msg, commit-msg, post-checkout, post-commit, post-merge, post-rewrite, manual]
